@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
    --primary-color: #800000;

    --primary-text: #000000;
    --secondary-text: #757575;

    --primary-bg: #c3cbdc;
    --secondary-bg: #ffffff;

    /* For the Navigation Link Button State */
    --button-text: #291e13;
    --button-hover-text: #eab308;
    --button-selected-text: #000000;
    --button-selected-bg: #e5e7eb;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--secondary-bg);
    color: var(--secondary-text);
}

.bg-primary {
    background-color: var(--primary-color);
}

.text-primary {
    color: var(--primary-color);
}

.border-primary {
    border-color: var(--primary-color);
}

/* Login Floating Panel */
.floating-panel {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transform: translateY(-10px);
    z-index: 10;
    position: relative;
    margin-left: auto;
    margin-right: 5%;
}

.w-73 {
    width: 18.25rem;
    /* 73 x 0.25rem */
}

.ml-73 {
    margin-left: 18.25rem; /* 73 x 0.25rem */
}

.z-50 {
    z-index: 50;
}

.dropdown-item {
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: left;
    display: block;
}

.dropdown-item:hover {
    background-color: #f3f3f3;
}

/* BUTTON STATES */
.button-default {
    color: var(--button-text); /* Default text color */
}

.button-hover:hover {
    color: var(--button-hover-text); /* Hover state */
    background-color: var(--button-hover-bg); /* Optional hover background color */
}

.button-selected {
    color: #8d0101; /* Dark red text color */
    border-left: 4px solid #8b0000; /* Border on the left side to emphasize selection */
    font-weight: bold; /* Bold text for selected state */
    background-color: var(--button-selected-bg);
}

/* SYSTEM THEMES */
[data-theme="dark"] {
    --primary-bg: #800000;
    --primary-text: #080707;
    --secondary-bg: #7c909a;
    --secondary-text: #000000;
}

/* Export Button for Analytics Page */
#exportChartButton {
    margin-right: 0;
}

#exportDropdown {
    top: 40px;
    /* Adjust this value if needed to better align the dropdown */
}

/* Search Bar Highlighter */
.highlight {
    background-color: yellow;
    font-weight: bold;
}

/* Wave Asset */
.wave-container {
    position: relative;
    width: 100%;
    height: 150px; /* Adjust as needed */
    overflow: hidden;
}

/* Apply the primary color for checked radio buttons */
input[type="radio"]:checked + label {
    color: var(--primary-color); /* Using the primary color defined in your CSS */
}

input[type="radio"] {
    accent-color: var(--primary-color); /* Change the radio button color itself */
}